
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 13px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 13px;
}
.input-group .input-group-addon {
	font-size: 13px;
	height: 30px;
}
.img-menu-mega .img-thumbnail,
.imgage_mega .img-thumbnail {
		border-radius: 0;
		border: none;
	}
/* menu */
/* footer */
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
/*
.custom_banner .col-md-4 {
	width: 100% !important; }
*/
footer h5 {
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}
/* alert */
.alert {
	margin-bottom: 0;
	font-size: 14px;
}
/* breadcrumb */
.breadcrumb {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 0;
	background-color: #fff;
	font-family: 'Playfair Display', serif;
}
.breadcrumb li a:before {
    display: inline-block;
    margin-left: 11px;
    margin-right: 10px;
}
.breadcrumb >li:first-child >a:before {display: none;}
.breadcrumb > li {
	text-shadow: 0 1px 0 #FFF;
	position: relative;
}
.breadcrumb > li + li:before {
	// content: '';
	padding: 0;
}
.top5 {
	margin-top: 5px;
}
.top10 {
	margin-top: 10px;
}
.top20 {
	margin-top: 20px;
}
.top30 {
	margin-top: 30px;
}
.top40 {
	margin-top: 40px;
}
.top50 {
	margin-top: 50px;
}
.category_page .product-list .product-thumb{background:#fff none repeat scroll 0 0;padding:5px;position:relative;min-height:auto;transition:all .4s ease 0s}
.category_page .product-list .product-thumb .caption h4{text-align:left;background:0 0}
.category_page .product-list .product-thumb .caption h4 a{color:#666;font-size:18px;padding:0}
.category_page .product-list .image{ width:25%;float:left;overflow:hidden;border:1px solid #efefef}
.category_page .product-list .caption{float:right;width:67%;margin-top:0;text-align:left}
.category_page .product-list .caption .description{display:block}
.category_page .product-list .rating {    position: inherit; opacity: 1; }
.product-list .product-thumb .caption .price,
.product-list .product-thumb .caption .rating {padding: 0;}
 @media (min-width: 768px) and (max-width: 2000px) {
	.list_product .product-thumb {
		min-height: auto;
	}
	.list_product .product-thumb .image {
				float: left;
			    margin-right: 10px;
			    margin-bottom: 10px;
			    width: 28%;
	}
	.list_product .product-thumb .button-group {
		display: none;
}
.list_product .medium {
    border-bottom: 1px solid #e2e2e2;
    padding: 30px 0 15px;
	}
.list_product .medium:first-child {
	padding-top: 0;
}
.list_product .medium:last-child {
	border-bottom: none;
}
}
@media (max-width: 767px) {
	.product-compare .description {
	white-space: inherit !important;
}
.top30,
.top40,
.top50 {
	margin-top: 20px;
}
}
#content div.single-pro-main-image > a > div > img:nth-child(2) {display:none!important}